<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Info logi -->
		<target name="infoFile" xsi:type="File"
				fileName="${basedir}/logs/info/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString}" />

		<!-- Błędy i wyjątki -->
		<target name="errorFile" xsi:type="File"
				fileName="${basedir}/logs/error/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString}" />

		<!-- Konsola (opcjonalnie) -->
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level}|${message} ${exception}" />
	</targets>

	<rules>
		<!-- Pomijaj zbędne logi frameworka -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<!-- Błędy i wyjątki -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />

		<!-- Logi informacyjne -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoFile" />

		<!-- Konsola -->
		<logger name="*" writeTo="console" />
	</rules>
</nlog>
